<% @page = "none" %>
<%= link_to image_tag("logo_noddus.png"), "/" %>
<br>
<br>
<div class="span4">
  <% if @user.imagen %>
    <%= image_tag( @user.imagen, :style => "width:280px") %>
  <% else %>
    <%= image_tag("foto_perfil.gif") %>
  <% end %>
  <br>
  <h4 style="color: #636363;" class="bluefont">Porcentaje de Inglés <%= @user.ingles_prc %></h4>
  <h4 style="color: #636363;" class="bluefont">Otro idioma: <%= @user.idioma %>: <%= @user.idioma_prc %></h4>
</div>
<div style="color: #636363;text-align: right" class="bluefont">
  <h1><%= @user.nombre.upcase %></h1>
  <h4><%= @user.carrera %></h4>
  <h4><%= @user.email %></h4>
  <br>
  <br>
  <h4><%= if @user.genero == 'male' then 'Hombre' else 'Mujer' end %></h4>
  <h4><%= @user.ubicacion %></h4>
  <h4><%= Time.now.year - @user.cumpleanos.year %></h4>
  <h4><%= @user.escuela %></h4>
  <h4><%= @user.skype %></h4>
  <h4><%= @user.sitio_web %></h4>
  <h4>Tel. <%= @user.telefono %></h4>
  <br>
  <br>
  <h1>PRESENTACIÓN</h1>
  <h4><%= @user.descripcion %></h4>
</div>