<% @page = "none" %>
<%= link_to image_tag("logo_noddus.png"), "/" %>
<br>
<br>
<div class="span4">
  <%= show_full_image(@user) %>
  <br>
  <h4 style="color: #636363;" class="bluefont">Porcentaje de Inglés <%= @user.ingles_prc %></h4>
  <h4 style="color: #636363;" class="bluefont">Otro idioma: <%= @user.idioma %>: <%= @user.idioma_prc %></h4>
</div>
<div style="color: #636363;text-align: right" class="bluefont">
  <!--TODO: Llenar la Base de Datos con valores por default-->
  <h1><%= @user.try(:nombre).try(:upcase) %></h1>
  <h4><%= @user.try(:carrera) %></h4>
  <h4><%= @user.try(:email) %></h4>
  <br>
  <br>
  <h4><%= if @user.try(:genero) == 'male' then 'Hombre' else 'Mujer' end %></h4>
  <h4><%= @user.try(:ubicacion) %></h4>
  <%if @user.cumpleanos %>
    <h4><%= Time.now.year - @user.try(:cumpleanos).try(:year) %></h4>
  <% end %>
  <h4><%= @user.try(:escuela) %></h4>
  <h4><%= @user.try(:skype) %></h4>
  <h4><%= @user.try(:sitio_web) %></h4>
  <h4>Tel. <%= @user.try(:telefono) %></h4>
  <br>
  <br>
  <h1>PRESENTACIÓN</h1>
  <h4><%= @user.try(:descripcion) %></h4>
</div>