<h2>Registrate</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :rol %>
  <%= f.select :rol, options_for_select([["Practicante"], ["Empresa"]]), :class => "edit-select span3" %>
  </div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Registrarse", :class => "btn" %></div>
<% end %>

<%# render "devise/shared/links" %>
