<%= form_for(@vacante) do |f| %>
  <% if @vacante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacante.errors.count, "error") %> prohibited this vacante from being saved:</h2>

      <ul>
      <% @vacante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br />
    <%= f.text_field :perfil %>
  </div>
  <div class="field">
    <%= f.label :inicia %><br />
    <%= f.date_select :inicia %>
  </div>
  <div class="field">
    <%= f.label :termina %><br />
    <%= f.date_select :termina %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
