<% @page = "none" %>
<%= link_to image_tag("logo_noddus.png"), "/" %>
<h1 class="bluefont" style="margin-left: .4px"><a href="/vacantes" style="text-decoration: none;color:#999;">Vacantes</a></h1>

<% if can? :create, Vacante %>
    <div class="pull-right"><a href="/vacantes/new" class="bluefont" style="color:#999999;">Nueva Vacante +</a></div>
<% end %>

<br>
<% if current_user.rol == "Estudiante" %>
    <div id="tag_cloud" style="width: 80%;">
        <% tag_cloud User.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tag_vacantes_path(tag.name), class: css_class %>
        <% end %>
    </div>
<% end %>
<br>
<table class="table">
  <thead>
  <!--<tr>-->
  <!--<th>Nombre</th>-->
  <!--</tr>-->
  </thead>
  <tbody>
  <% @vacantes.each do |v| %>
      <tr onmouseover="">
        <div class="hidden"><%= v.status %></div>
        <td style="width:0.5px;background-color: <%= if v.status == 'disponible' then 'rgb(22, 162, 22);' else 'red' end %>;"></td>
        <td><h3><a href="/vacantes/<%= v.id %>"><%= v.titulo %></a></h3></td>
        <td style="margin-top: 20px"><%= raw v.tag_list.map { |t| link_to t, tag_vacantes_path(t) }.join(', ') %></td>
        <td>
            <% if can? :update, v %>
                    <%= link_to 'Editar Vacante', edit_vacante_path(v) %>
            <% end %>
        </td>
        <td>
            <% if can? :destroy, v %>
                    <%= link_to 'Destruir Vacante', v, method: :delete, data: { confirm: '¿Esta Seguro?' } %>
            <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
