<h2>Entrar</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="span4">
  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me, :class => "span2", :style => "margin-left: -20px;" %><%= f.check_box :remember_me, :class => "span1" %>
  <% end -%>
  </div>
  <br>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
  <% end -%>
  <br>

  <div><%= f.submit "Entrar", :class => "btn"  %></div>
<% end %>

