<% @page = "none" %>
<%= link_to image_tag("logo_noddus.png"), "/" %>

<br>
    <%if flash[:notice] %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= flash[:notice] %>
        </div>
    <% end %>
<br>
<div class="span4">
  <%= show_full_image(@user) %>
  <br>
</div>
<div style="color: #636363;text-align: right" class="bluefont">
  <!--TODO: Igual que con los perfiles, validación y valores default-->
  <h4><%= link_to follow_verb(current_user,@user), "/empresas/follow/" + @user.id.to_s %></h4>
  <h1><%= @user.try(:nombre).try(:upcase) %></h1>
  <h4><%= @user.try(:perfil) %></h4>
  <h4><%= @user.try(:email) %></h4>
  <br>
  <br>
  <h4><%= @user.try(:ubicacion) %></h4>
  <h4><%= @user.try(:escuela) %></h4>
  <h4><%= @user.try(:skype) %></h4>
  <h4><%= @user.try(:sitio_web) %></h4>
  <h4>Tel. <%= @user.try(:telefono) %></h4>
  <br>
  <br>
  <h1>DESCRIPCIÓN</h1>
  <h4><%= @user.try(:descripcion) %></h4>
  <br>
  <h1>MIS VACANTES</h1>
  <% @user.vacantes.each do |v| %>
      <h3><a href="/vacantes/<%= v.id %>"><%= v.titulo %></a></h3>
      <h4><%= v.descripcion %></h4>
      <h4><%= raw v.tag_list[0..2].map { |t| link_to t, tag_vacantes_path(t) }.join(', ') %></h4>
  <% end%>
</div>