<!DOCTYPE html>
<html>
<head>
  <title>Noddus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--TODO: Mixpanel no jalo, queda pendiente-->
  <!-- start Mixpanel -->
  <script type="text/javascript">
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("dd9930814521b993d505fc635a2dc569");
  </script>
  <!-- end Mixpanel -->
</head>

<body style="background-image: url('<%= if @page == "main" then 'assets/background.jpg' end %>');background-size: 100%;background-repeat: no-repeat">
<div class="bluebox span2 offset1" >
  <% if current_user %>
      <ul class="nav pull-right">
      <li id="fat-menu" class="dropdown">
        <div class="span1">
            <%= show_navbar_image %>
        </div>
            <div>
                <a href="#" id="drop1" role="button" class="bluefont dropdown-toggle" data-toggle="dropdown" style="position: absolute;margin-left: -100px;">
                  <% if current_user.nombre %>
                    <%= current_user.nombre[0..12] %> &nbsp; <b class="bluefont caret"></b>
                  <% else %>
                    <div style="font-size: 14px;"> <%= current_user.email[0..10] %> &nbsp; <b class="bluefont caret"></b></div>
                  <% end %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
                  <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
                </ul>
            </div>
          </li>
        </ul>

  <% else %>
      <%= render "layouts/modal" %>
      <a href="#myModal" data-toggle="modal" style="text-align: center;" class="bluefont" onclick="mixpanel.track('Registrar')">Registro/Entrar</a>
<% end %>
</div>


<div style="margin-right: 100px;" class="pull-right">
    <div class="bluebox span3" >
      <%= link_to image_tag("home.png"), "/" %>
      <a href="http://noddus.tumblr.com/about" class="bluefont" >about</a>
      <a href="http://noddus.tumblr.com/" class="bluefont" >blog</a>
      <a href="http://noddus.tumblr.com/contacto" class="bluefont" >contacto</a>
    </div>
    <div class="graybox span1" style="margin-left: 0px;width: 65px;">
        <%= link_to image_tag("twitter_off.png", :class => "small-box"), "http://twitter.com/nodd_us" %>
        <%= link_to image_tag("face_off.png", :class => "small-box"), "http://facebook.com/noddusweb" %>
        <%= link_to image_tag("connec_off.png", :class => "small-box"), "/" %>
    </div>
</div>

<% for i in 0..3  do %>
<br>
<% end %>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
