<!DOCTYPE html>
<html>
<head>
  <title>Noddus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background-image: url('<%= if @page == "main" then 'assets/background.jpg' end %>');background-size: 100%;background-repeat: no-repeat">
<div class="bluebox span2 offset1" >
  <% if current_user %>
      <ul class="nav pull-right">
      <li id="fat-menu" class="dropdown">
        <% if current_user.imagen %>
            <div class="span1">
                <%= link_to image_tag(current_user.imagen, :border => 0, :class => "span1", :style => "width: 22px;position: absolute;margin-left: -68px;") %>
            </div>
        <% end %>
            <div>
                <a href="#" id="drop1" role="button" class="bluefont dropdown-toggle" data-toggle="dropdown" style="position: absolute;margin-left: -100px;">
                  <% if current_user.nombre %>
                    <%= current_user.nombre[0..12] %> &nbsp; <b class="bluefont caret"></b>
                  <% else %>
                    <div style="margin-left: -40px;font-size: 14px;"> <%= current_user.email[0..12] %> &nbsp; <b class="bluefont caret"></b></div>
                  <% end %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
                  <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
                </ul>
            </div>
          </li>
        </ul>

  <% else %>
      <%= render "layouts/modal" %>
      <a href="#myModal" data-toggle="modal" style="text-align: center;" class="bluefont">Registro/Entrar</a>
<% end %>
</div>


<div style="margin-right: 100px;" class="pull-right">
    <div class="bluebox span3" >
      <%= link_to image_tag("home.png"), "/" %>
      <a href="http://noddus.tumblr.com/about" class="bluefont" >about</a>
      <a href="http://noddus.tumblr.com/" class="bluefont" >blog</a>
      <a href="http://noddus.tumblr.com/contacto" class="bluefont" >contacto</a>
    </div>
    <div class="graybox span1" style="margin-left: 0px;width: 65px;">
        <%= link_to image_tag("twitter_off.png", :class => "small-box"), "http://twitter.com/nodd_us" %>
        <%= link_to image_tag("face_off.png", :class => "small-box"), "http://facebook.com/noddusweb" %>
        <%= link_to image_tag("connec_off.png", :class => "small-box"), "/" %>
    </div>
</div>

<% for i in 0..3  do %>
<br>
<% end %>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
